flows (1).json
[{"id":"67be625e.8dcbfc","type":"twitter in","z":"bfa8db37.1ca338","twitter":"","tags":"trump","user":"false","name":"","inputs":0,"x":170,"y":200,"wires":[["671d6240.a3c39c"]]},{"id":"91430a07.eda8c8","type":"debug","z":"bfa8db37.1ca338","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":930,"y":80,"wires":[]},{"id":"cf7b5848.c205a8","type":"cloudant out","z":"bfa8db37.1ca338","name":"","cloudant":"","database":"trump","service":"gama-node-red-demo-l-cloudant-1608999238365-64801","payonly":false,"operation":"insert","x":650,"y":200,"wires":[]},{"id":"671d6240.a3c39c","type":"sentiment","z":"bfa8db37.1ca338","name":"","property":"payload","x":340,"y":200,"wires":[["91430a07.eda8c8","3b3d6976.2a8126"]]},{"id":"91d0c45b.6edee8","type":"ui_gauge","z":"bfa8db37.1ca338","name":"Positivo","group":"b11bfa04.ca4878","order":4,"width":0,"height":0,"gtype":"gage","title":"Positivo","label":"Qtde","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":340,"wires":[]},{"id":"74ab3186.92665","type":"ui_gauge","z":"bfa8db37.1ca338","name":"Negativo","group":"b11bfa04.ca4878","order":1,"width":0,"height":0,"gtype":"gage","title":"Negativo","label":"Qtde","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":400,"wires":[]},{"id":"72f6612f.a8d64","type":"ui_gauge","z":"bfa8db37.1ca338","name":"Neutro","group":"b11bfa04.ca4878","order":3,"width":0,"height":0,"gtype":"gage","title":"Neutro","label":"Qtde","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":641,"y":460,"wires":[]},{"id":"3b3d6976.2a8126","type":"function","z":"bfa8db37.1ca338","name":"","func":"pos = flow.get(\"pos\") || 0;\nneg = flow.get(\"neg\") || 0;\nneu = flow.get(\"neu\") || 0;\nif(msg.sentiment.score > 0)\n{\n    flow.set(\"pos\",1 + pos); \n    msg.payload = flow.get(\"pos\");\n    return [msg,null,null];\n}\nelse if(msg.sentiment.score < 0)\n{\n    flow.set(\"neg\",1 + neg); \n    msg.payload = flow.get(\"neg\");\n    return [null,msg,null];\n}\nelse\n{\n    flow.set(\"neu\",1 + neu); \n    msg.payload = flow.get(\"neu\");\n    return [null,null,msg];\n}\n","outputs":3,"noerr":0,"initialize":"","finalize":"","x":320,"y":400,"wires":[["91d0c45b.6edee8"],["74ab3186.92665","c00cf963.ac2b48"],["72f6612f.a8d64"]]},{"id":"416f4e03.968dc","type":"function","z":"bfa8db37.1ca338","name":"","func":"flow.set(\"pos\",0);\nflow.set(\"neg\",0);\nflow.set(\"neu\",0);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":560,"wires":[[]]},{"id":"9c26c739.e7e1b8","type":"inject","z":"bfa8db37.1ca338","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":560,"wires":[["416f4e03.968dc"]]},{"id":"c00cf963.ac2b48","type":"ui_text","z":"bfa8db37.1ca338","group":"b11bfa04.ca4878","order":2,"width":0,"height":0,"name":"","label":"Tweet-Neg","format":"{{msg.tweet.text}}","layout":"row-spread","x":870,"y":360,"wires":[]},{"id":"b11bfa04.ca4878","type":"ui_group","z":"","name":"Trump","tab":"46306f38.b0751","order":1,"disp":true,"width":"6","collapse":false},{"id":"46306f38.b0751","type":"ui_tab","z":"","name":"Tweets","icon":"dashboard","disabled":false,"hidden":false}]